arduino
[
    {
        "id": "27f2641f968347ce",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "850a645149c999a8",
        "type": "serial in",
        "z": "27f2641f968347ce",
        "name": "Arduino 1",
        "serial": "58430f06.f23e4",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "966d718dd57ce8db",
                "fc8233748718990d"
            ]
        ]
    },
    {
        "id": "966d718dd57ce8db",
        "type": "function",
        "z": "27f2641f968347ce",
        "name": "Split Data",
        "func": "var splitmsg = msg.payload.split(\",\");\nvar msg1 = { payload: parseFloat(splitmsg[0]) };\nvar msg2 = { payload: parseFloat(splitmsg[1]) };\nvar msg3 = { payload: parseFloat(splitmsg[2]) };\n\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "b37ee5e87eec07b2",
                "8bc2def864a8fd0a",
                "839c671de236cce3",
                "fda4b69990b7a1cb"
            ],
            [
                "1ae9831d9a67ea31",
                "bfb2e58dfd6e541c"
            ],
            []
        ]
    },
    {
        "id": "b37ee5e87eec07b2",
        "type": "debug",
        "z": "27f2641f968347ce",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "8bc2def864a8fd0a",
        "type": "ui_gauge",
        "z": "27f2641f968347ce",
        "name": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "839c671de236cce3",
        "type": "ui_chart",
        "z": "27f2641f968347ce",
        "name": "",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1ae9831d9a67ea31",
        "type": "ui_gauge",
        "z": "27f2641f968347ce",
        "name": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "bfb2e58dfd6e541c",
        "type": "ui_chart",
        "z": "27f2641f968347ce",
        "name": "",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fda4b69990b7a1cb",
        "type": "function",
        "z": "27f2641f968347ce",
        "name": "function 5",
        "func": "var value = msg.payload;\n\nif (value < 30) {\n    msg.payload = \"Low Humidity\";\n    return msg;\n}\nelse if (value > 60) {\n    msg.payload = \"High Humidity\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "9d552d9c0eced4d9"
            ]
        ]
    },
    {
        "id": "9d552d9c0eced4d9",
        "type": "ui_toast",
        "z": "27f2641f968347ce",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "fc8233748718990d",
        "type": "file",
        "z": "27f2641f968347ce",
        "name": "",
        "filename": "C:\\Data\\iot-reskill.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 320,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "58430f06.f23e4",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "false",
        "responsetimeout": ""
    }
]
