ISS2
[
    {
        "id": "b7f2c16d.fd3d3",
        "type": "tab",
        "label": "Track",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a880370b.25c328",
        "type": "debug",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "d90d4eed.fa7a7",
        "type": "inject",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "16e31748.4f62e9"
            ]
        ]
    },
    {
        "id": "16e31748.4f62e9",
        "type": "http request",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.open-notify.org/iss-now.json",
        "tls": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "64c22ea4.8857",
                "a880370b.25c328"
            ]
        ]
    },
    {
        "id": "64c22ea4.8857",
        "type": "json",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "59398ff3.58b7b",
                "a880370b.25c328"
            ]
        ]
    },
    {
        "id": "59398ff3.58b7b",
        "type": "function",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "func": "var issLocation = msg.payload.iss_position;\nmsg.payload = {\n    name : \"ISS\",\n    lat : parseFloat(issLocation.latitude),\n    lon : parseFloat(issLocation.longitude)\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "a880370b.25c328",
                "1d41f85964d4f731"
            ]
        ]
    },
    {
        "id": "b72dd91559739217",
        "type": "iss-location",
        "z": "b7f2c16d.fd3d3",
        "method": "ISSLocationNow",
        "name": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "51e41dd14a920cb2"
            ]
        ]
    },
    {
        "id": "dccb6036a6d50ba3",
        "type": "inject",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "b72dd91559739217"
            ]
        ]
    },
    {
        "id": "51e41dd14a920cb2",
        "type": "debug",
        "z": "b7f2c16d.fd3d3",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "1d41f85964d4f731",
        "type": "worldmap",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "false",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "84e61f3659e3f6da",
        "type": "iss-location",
        "z": "b7f2c16d.fd3d3",
        "method": "ISSLocationNow",
        "name": "",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "606a5adec7a4d469"
            ]
        ]
    },
    {
        "id": "520580891c655f5b",
        "type": "inject",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "84e61f3659e3f6da"
            ]
        ]
    },
    {
        "id": "606a5adec7a4d469",
        "type": "function",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "func": "var issLocation = msg.payload.iss_position;\nmsg.payload = {\n    name : \"ISS\",\n    lat : parseFloat(issLocation.latitude),\n    lon : parseFloat(issLocation.longitude)\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "6fc7b03542b9b6e0",
                "51e41dd14a920cb2"
            ]
        ]
    },
    {
        "id": "6fc7b03542b9b6e0",
        "type": "worldmap",
        "z": "b7f2c16d.fd3d3",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "false",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 700,
        "y": 660,
        "wires": []
    }
]
