PKUU
[
    {
        "id": "acffc7cb.a62b88",
        "type": "tab",
        "label": "WQSM at PKUU latest",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2433ae8.4520e8",
        "type": "mqtt in",
        "z": "acffc7cb.a62b88",
        "name": "",
        "topic": "watersensor1",
        "qos": "2",
        "datatype": "auto",
        "broker": "a7310d7d.2dc6e",
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "9a39d150.98e3e",
                "ffe0d147.aa9ae",
                "ea28b824.ffe478"
            ]
        ]
    },
    {
        "id": "ffe0d147.aa9ae",
        "type": "json",
        "z": "acffc7cb.a62b88",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "274e75f7.e13d8a",
                "aca433cc.2ac2c",
                "75ed5f1f.5c193",
                "2c6cca76.a35f06",
                "65236e79.e08c4"
            ]
        ]
    },
    {
        "id": "ea28b824.ffe478",
        "type": "function",
        "z": "acffc7cb.a62b88",
        "name": "TImestamp",
        "func": "var readCurrent = new Date().getTime();\nmsg.payload = readCurrent;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "732261b6.c71e4"
            ]
        ]
    },
    {
        "id": "9a39d150.98e3e",
        "type": "debug",
        "z": "acffc7cb.a62b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "8d4e39a.86477c8",
        "type": "function",
        "z": "acffc7cb.a62b88",
        "name": "combine msg",
        "func": "msg.DO = msg.payload.DO;\n\nif (msg.DO == \"38.31\")\n    msg.DO = 0.00;\n    \nmsg.PH = msg.payload.PH;\nmsg.EC = msg.payload.EC;\nmsg.ORP = msg.payload.ORP;\n\nmsg.payload = msg.time + \",\" + msg.PH + \",\" + msg.DO + \",\" + msg.EC + \",\" + msg.ORP;\n\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "61871cd0.831244",
                "dbbddb3b.0d64f8"
            ]
        ]
    },
    {
        "id": "a7b4486b.0ab358",
        "type": "function",
        "z": "acffc7cb.a62b88",
        "name": "msg.time",
        "func": "msg.time = new Date().getTime();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "bb381228.f6a47"
            ]
        ]
    },
    {
        "id": "61871cd0.831244",
        "type": "debug",
        "z": "acffc7cb.a62b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "274e75f7.e13d8a",
        "type": "delay",
        "z": "acffc7cb.a62b88",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "a7b4486b.0ab358"
            ]
        ]
    },
    {
        "id": "dbbddb3b.0d64f8",
        "type": "file",
        "z": "acffc7cb.a62b88",
        "name": "",
        "filename": "pkuu_test.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 620,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "75ed5f1f.5c193",
        "type": "function",
        "z": "acffc7cb.a62b88",
        "name": "PH",
        "func": "msg.payload = msg.payload.PH;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "c0b48c42.2150d",
                "4662f937.cfdc28"
            ]
        ]
    },
    {
        "id": "2c6cca76.a35f06",
        "type": "function",
        "z": "acffc7cb.a62b88",
        "name": "EC",
        "func": "msg.payload = msg.payload.EC;\n\nif (msg.payload == \"0.00\")\n    msg.payload = 63.00;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "a051f458.699418",
                "49f0327f.71635c"
            ]
        ]
    },
    {
        "id": "65236e79.e08c4",
        "type": "function",
        "z": "acffc7cb.a62b88",
        "name": "ORP",
        "func": "msg.payload = msg.payload.ORP;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "b3f857a6.864768",
                "1a78182c.bb3158"
            ]
        ]
    },
    {
        "id": "aca433cc.2ac2c",
        "type": "function",
        "z": "acffc7cb.a62b88",
        "name": "DO",
        "func": "msg.payload = msg.payload.DO;\n\nif (msg.payload == \"38.31\")\n    msg.payload = 0.00;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "dfab0d98.25a42",
                "4ce1cd0b.8106d4"
            ]
        ]
    },
    {
        "id": "b067d25.0ec9d3",
        "type": "ui_text",
        "z": "acffc7cb.a62b88",
        "group": "88a84bb2.076d1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Update: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "891487e2.d83a38",
        "type": "ui_text",
        "z": "acffc7cb.a62b88",
        "group": "681fe227.ff4f0c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Update: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "161df07.e567f1",
        "type": "ui_text",
        "z": "acffc7cb.a62b88",
        "group": "58b02e32.70d108",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Update: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "188a9322.e6955d",
        "type": "ui_text",
        "z": "acffc7cb.a62b88",
        "group": "cc9d8517.1e9f48",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Update: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "4ce1cd0b.8106d4",
        "type": "ui_gauge",
        "z": "acffc7cb.a62b88",
        "name": "",
        "group": "88a84bb2.076d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DO",
        "label": "mg/L",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#ff0000",
            "#f5f505",
            "#00ff1e"
        ],
        "seg1": "2",
        "seg2": "4",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "c0b48c42.2150d",
        "type": "ui_gauge",
        "z": "acffc7cb.a62b88",
        "name": "",
        "group": "681fe227.ff4f0c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH",
        "label": "pH Level",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#1cb717"
        ],
        "seg1": "3",
        "seg2": "5",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "a051f458.699418",
        "type": "ui_gauge",
        "z": "acffc7cb.a62b88",
        "name": "",
        "group": "58b02e32.70d108",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EC",
        "label": "uS/cm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "380",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "b3f857a6.864768",
        "type": "ui_gauge",
        "z": "acffc7cb.a62b88",
        "name": "",
        "group": "cc9d8517.1e9f48",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ORP",
        "label": "mV",
        "format": "{{value}}",
        "min": 0,
        "max": "600",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "dfab0d98.25a42",
        "type": "ui_chart",
        "z": "acffc7cb.a62b88",
        "name": "",
        "group": "88a84bb2.076d1",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 950,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4662f937.cfdc28",
        "type": "ui_chart",
        "z": "acffc7cb.a62b88",
        "name": "",
        "group": "681fe227.ff4f0c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 950,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "49f0327f.71635c",
        "type": "ui_chart",
        "z": "acffc7cb.a62b88",
        "name": "",
        "group": "58b02e32.70d108",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 950,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1a78182c.bb3158",
        "type": "ui_chart",
        "z": "acffc7cb.a62b88",
        "name": "",
        "group": "cc9d8517.1e9f48",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "600",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 950,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "732261b6.c71e4",
        "type": "moment",
        "z": "acffc7cb.a62b88",
        "name": "",
        "topic": "watersensor1",
        "input": "payload",
        "format": "DD MMM YYYY HH:mm",
        "locale": "\"POSIX\"",
        "output": "payload",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "b067d25.0ec9d3",
                "891487e2.d83a38",
                "161df07.e567f1",
                "188a9322.e6955d"
            ]
        ]
    },
    {
        "id": "bb381228.f6a47",
        "type": "moment",
        "z": "acffc7cb.a62b88",
        "name": "",
        "topic": "",
        "input": "time",
        "format": "DD MMM YYYY HH:mm:ss",
        "locale": "\"POSIX\"",
        "output": "time",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "8d4e39a.86477c8"
            ]
        ]
    },
    {
        "id": "a7310d7d.2dc6e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tracker.my",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "88a84bb2.076d1",
        "type": "ui_group",
        "name": "DO",
        "tab": "6e45e0b8.915878",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "681fe227.ff4f0c",
        "type": "ui_group",
        "name": "PH",
        "tab": "6e45e0b8.915878",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "58b02e32.70d108",
        "type": "ui_group",
        "name": "EC",
        "tab": "6e45e0b8.915878",
        "order": 4,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "cc9d8517.1e9f48",
        "type": "ui_group",
        "name": "ORP",
        "tab": "6e45e0b8.915878",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "6e45e0b8.915878",
        "type": "ui_tab",
        "name": "Water Quality Smart Monitoring System",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]
