rand_temp
[
    {
        "id": "e139e61309b07616",
        "type": "tab",
        "label": "Flow 16",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c56ba1c8.1cd0c",
        "type": "inject",
        "z": "e139e61309b07616",
        "name": "Generate Temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "96c74ddb.c7b06"
            ]
        ]
    },
    {
        "id": "96c74ddb.c7b06",
        "type": "function",
        "z": "e139e61309b07616",
        "name": "Randomize Temperature",
        "func": "var min = 0;\nvar max = 50;\nvar random = Math.floor(Math.random() * (max - min + 1)) + min;\nmsg.payload = random;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "68f9dabf.00ecac",
                "c45cc84b.7f3c1",
                "181761928ffa18bc"
            ]
        ]
    },
    {
        "id": "68f9dabf.00ecac",
        "type": "switch",
        "z": "e139e61309b07616",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "914a10a7.7e1f6"
            ],
            [
                "d7c0b624.f48c88"
            ]
        ]
    },
    {
        "id": "914a10a7.7e1f6",
        "type": "debug",
        "z": "e139e61309b07616",
        "name": "High Temperature",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "d7c0b624.f48c88",
        "type": "debug",
        "z": "e139e61309b07616",
        "name": "Low Temperature",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "c45cc84b.7f3c1",
        "type": "ui_chart",
        "z": "e139e61309b07616",
        "name": "Temperature Chart",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "181761928ffa18bc",
        "type": "ui_gauge",
        "z": "e139e61309b07616",
        "name": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "className": "",
        "x": 850,
        "y": 180,
        "wires": []
    }
]
