XDK-L
[{"id":"8dc65709.73ba18","type":"tab","label":"Office Lamp - OFF Hourly","disabled":false,"info":""},{"id":"493a98ab.00dd58","type":"mqtt out","z":"8dc65709.73ba18","name":"","topic":"cmnd/sonoff0919a/POWER","qos":"","retain":"","broker":"8b2e9129.af176","x":600,"y":80,"wires":[]},{"id":"7d6c682b.468358","type":"function","z":"8dc65709.73ba18","name":"OFF","func":"msg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["493a98ab.00dd58","b57ce08.5851b2"]]},{"id":"758a7684.43ade8","type":"inject","z":"8dc65709.73ba18","name":"","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["7d6c682b.468358"]]},{"id":"b57ce08.5851b2","type":"debug","z":"8dc65709.73ba18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":140,"wires":[]},{"id":"8eb0ced.642af3","type":"mqtt in","z":"8dc65709.73ba18","name":"Bosch Sensor","topic":"xdk10","qos":"2","datatype":"auto","broker":"a7310d7d.2dc6e","inputs":0,"x":110,"y":260,"wires":[["5e07b0bc.18df6"]]},{"id":"5e07b0bc.18df6","type":"function","z":"8dc65709.73ba18","name":"Parsing Light","func":"msg.payload = msg.payload.substring(58,msg.payload.length - 1);\n\nvar res = parseFloat (msg.payload)\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["97e78ff0.2bd5e"]]},{"id":"5842941e.03c3bc","type":"function","z":"8dc65709.73ba18","name":"Turn ON","func":"msg.payload = \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["8822e11d.476a3","27b6412b.744fbe"]]},{"id":"8822e11d.476a3","type":"mqtt out","z":"8dc65709.73ba18","name":"","topic":"cmnd/sonoff0819/POWER","qos":"","retain":"","broker":"a7310d7d.2dc6e","x":640,"y":400,"wires":[]},{"id":"e8248070.a1164","type":"function","z":"8dc65709.73ba18","name":"Timer to OFF","func":"msg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["8822e11d.476a3","27b6412b.744fbe"]]},{"id":"97e78ff0.2bd5e","type":"switch","z":"8dc65709.73ba18","name":"Light? (10)","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":260,"wires":[["27b6412b.744fbe","5842941e.03c3bc","251f94b6.942a3c"],["27b6412b.744fbe"]]},{"id":"251f94b6.942a3c","type":"delay","z":"8dc65709.73ba18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":120,"y":340,"wires":[["e8248070.a1164"]]},{"id":"27b6412b.744fbe","type":"debug","z":"8dc65709.73ba18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"ba4020bd.f7cc1","type":"inject","z":"8dc65709.73ba18","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":480,"wires":[["5842941e.03c3bc"]]},{"id":"24d9294d.12f4e6","type":"mqtt out","z":"8dc65709.73ba18","name":"","topic":"cmnd/sonoff0819/POWER","qos":"","retain":"","broker":"21373377.3c831c","x":600.01953125,"y":587.00390625,"wires":[]},{"id":"5a696f8a.85e9","type":"inject","z":"8dc65709.73ba18","name":"","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":110.01953125,"y":587.00390625,"wires":[["24d9294d.12f4e6","3411f896.0ef038"]]},{"id":"3411f896.0ef038","type":"debug","z":"8dc65709.73ba18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320.01953125,"y":633.0039005279541,"wires":[]},{"id":"5ed17c61.f4e714","type":"mqtt in","z":"8dc65709.73ba18","name":"","topic":"tele/sonoff0819/STATE","qos":"2","broker":"21373377.3c831c","inputs":0,"x":187.38671875,"y":740.62890625,"wires":[["bbe463a2.8dbfe"]]},{"id":"bbe463a2.8dbfe","type":"debug","z":"8dc65709.73ba18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":467.38671875,"y":742.46484375,"wires":[]},{"id":"8b2e9129.af176","type":"mqtt-broker","name":"Sonoff","broker":"68.183.191.7","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7310d7d.2dc6e","type":"mqtt-broker","name":"","broker":"tracker.my","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21373377.3c831c","type":"mqtt-broker","name":"","broker":"tracker.my","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
