ZH WQ
[
    {
        "id": "b4adb62fca3ec36b",
        "type": "tab",
        "label": "WQ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae481730025d501d",
        "type": "mqtt in",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "topic": "data/water",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5d1764a221015b44",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "1b2af9201045c6fa",
                "84474329a0543287",
                "a7537883c0da65b1",
                "0f0fd00b860c6035"
            ]
        ]
    },
    {
        "id": "1b2af9201045c6fa",
        "type": "debug",
        "z": "b4adb62fca3ec36b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "5b0ba7ea89182be3",
        "type": "ui_gauge",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "group": "420b8ce2a1958b91",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature ",
        "label": "",
        "format": "{{value}} °C",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "d89563c3501f6c05",
        "type": "ui_gauge",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "group": "fc6b4c029fc2d65f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Electrical Conductivity",
        "label": "",
        "format": "{{value}} mS/cm",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "5b0427fefa395d6d",
        "type": "ui_chart",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "group": "b8caa81f34ac8890",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8686d4d4c4133211",
        "type": "ui_chart",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "group": "420b8ce2a1958b91",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e8c3650f5dee65dc",
        "type": "ui_chart",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "group": "fc6b4c029fc2d65f",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Electrical Conductivity (mS/cm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "15e8f1e9989bbc5c",
        "type": "ui_gauge",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "group": "b8caa81f34ac8890",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "06fd727b90466e6b",
        "type": "moment",
        "z": "b4adb62fca3ec36b",
        "name": "water/data",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Kuala_Lumpur",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MMM YYYY HH:mm:ss",
        "locale": "\"POSIX\"",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Kuala_Lumpur",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "e213c43d31132763"
            ]
        ]
    },
    {
        "id": "84474329a0543287",
        "type": "function",
        "z": "b4adb62fca3ec36b",
        "name": "Date/Time",
        "func": "var readCurrent = new Date().getTime();\nmsg.payload = readCurrent;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 580,
        "wires": [
            [
                "06fd727b90466e6b"
            ]
        ]
    },
    {
        "id": "e213c43d31132763",
        "type": "ui_text",
        "z": "b4adb62fca3ec36b",
        "group": "fc6b4c029fc2d65f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Updated : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "a7537883c0da65b1",
        "type": "function",
        "z": "b4adb62fca3ec36b",
        "name": "DS18B20, DFR0300, pH",
        "func": "var payload = msg.payload; // Assuming the received payload is in the format \"T:<temperature>,EC:<EC>,pH:<pH>\"\n\nvar values = payload.split(\",\"); // Split the payload string into individual value strings\n\nvar temperature = parseFloat(values[0].split(\":\")[1]); // Extract temperature value\nvar ecValue = parseFloat(values[1].split(\":\")[1]); // Extract EC value\nvar pH = parseFloat(values[2].split(\":\")[1]); // Extract pH value\n\n// Create separate messages for temperature, EC, and pH\nvar msgTemperature = {\n    payload: temperature\n};\n\nvar msgEC = {\n    payload: ecValue\n};\n\nvar msgpH = {\n    payload: pH\n};\n\n// Calculate average values\nvar sumTemperature = context.get('sumTemperature') || 0;\nvar sumEC = context.get('sumEC') || 0;\nvar sumpH = context.get('sumpH') || 0;\nvar count = context.get('count') || 0;\n\nsumTemperature += temperature;\nsumEC += ecValue;\nsumpH += pH;\ncount++;\n\nvar averageTemperature = sumTemperature / count;\nvar averageEC = sumEC / count;\nvar averagepH = sumpH / count;\n\n// Update context\ncontext.set('sumTemperature', sumTemperature);\ncontext.set('sumEC', sumEC);\ncontext.set('sumpH', sumpH);\ncontext.set('count', count);\n\n// Create messages for average values\nvar msgAverageTemperature = {\n    payload: averageTemperature.toFixed(2)\n};\n\nvar msgAverageEC = {\n    payload: averageEC.toFixed(2)\n};\n\nvar msgAveragepH = {\n    payload: averagepH.toFixed(2)\n};\n\n// Return the messages\nreturn [msgTemperature, msgEC, msgpH, msgAverageTemperature, msgAverageEC, msgAveragepH];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            [
                "8686d4d4c4133211",
                "5b0ba7ea89182be3"
            ],
            [
                "d89563c3501f6c05",
                "e8c3650f5dee65dc"
            ],
            [
                "15e8f1e9989bbc5c",
                "5b0427fefa395d6d"
            ],
            [
                "e73ac4ec6d285ea7"
            ],
            [
                "03332e1a09a79bd0"
            ],
            [
                "9dd7ef800fc60341"
            ]
        ]
    },
    {
        "id": "b37877c2fa4369b0",
        "type": "file",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "filename": "C:\\Users\\zharf\\OneDrive\\Desktop\\KEE4814 THESIS 2\\WQ\\result4.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "9a56966c99b44c3d"
            ]
        ]
    },
    {
        "id": "9a56966c99b44c3d",
        "type": "debug",
        "z": "b4adb62fca3ec36b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 955,
        "y": 727,
        "wires": []
    },
    {
        "id": "0f0fd00b860c6035",
        "type": "function",
        "z": "b4adb62fca3ec36b",
        "name": "CSV",
        "func": "var currentDate = new Date().toLocaleDateString(\"en-MY\", { timeZone: \"Asia/Kuala_Lumpur\" });\nvar currentTime = new Date().toLocaleTimeString(\"en-MY\", { timeZone: \"Asia/Kuala_Lumpur\" });\n\nvar payload = msg.payload; // Assuming the received payload is in the format \"T:<temperature>,EC:<EC>,pH:<pH>\"\n\nvar values = payload.split(\",\"); // Split the payload string into individual value strings\n\nvar temperature = parseFloat(values[0].split(\":\")[1]); // Extract temperature value\nvar ecValue = parseFloat(values[1].split(\":\")[1]); // Extract EC value\nvar pH = parseFloat(values[2].split(\":\")[1]); // Extract pH value\n\n// Create the CSV row with data\nvar csvRow = currentDate + \",\" + currentTime + \",\" + temperature + \",\" + ecValue + \",\" + pH + \"\\n\";\n\n// Set the payload to the CSV row\nmsg.payload = csvRow;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e73ac4ec6d285ea7",
        "type": "ui_text",
        "z": "b4adb62fca3ec36b",
        "group": "420b8ce2a1958b91",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "Average Temperature",
        "label": "Average Temperature:",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "03332e1a09a79bd0",
        "type": "ui_text",
        "z": "b4adb62fca3ec36b",
        "group": "fc6b4c029fc2d65f",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "Average EC",
        "label": "Average EC:",
        "format": "{{msg.payload}} mS/cm",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "9dd7ef800fc60341",
        "type": "ui_text",
        "z": "b4adb62fca3ec36b",
        "group": "b8caa81f34ac8890",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "Average pH",
        "label": "Average pH:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "9fab3f89e234f783",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "64bd245e2e2a928f",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "969f01984b9ff81b",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "64bd245e2e2a928f",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "4795333054dd3f2d",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "64bd245e2e2a928f",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "d6edb9f254ed7075",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "64bd245e2e2a928f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "0b6149b071f6f20a",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "64bd245e2e2a928f",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "88c6274d26b93f2d",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "fed413095bcf78ad",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "2c8e3be83559ba42",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "fed413095bcf78ad",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "ce2a57a867dd9fdd",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "fed413095bcf78ad",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "709382acbaef0784",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "fed413095bcf78ad",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "e5ff7385ce92552e",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "fed413095bcf78ad",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "df89ad03c0e6de5e",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "356ff7c434b524f6",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "c47063d38cf64119",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "356ff7c434b524f6",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "9c6fcadb587296fa",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "356ff7c434b524f6",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "40be1124cf7da592",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "356ff7c434b524f6",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2df1ca7f6b4d1434",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "85867ccc12822d96",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "465370b68d3d8fa3",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "85867ccc12822d96",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "42c4377e9ae80566",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "85867ccc12822d96",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "5d039074012e2162",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "85867ccc12822d96",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e869f790e71aed3",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "85867ccc12822d96",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "330beade3e2ecee7",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "3c09e0ee9ba3dbb5",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "32038e212ac8b831",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "3c09e0ee9ba3dbb5",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "f3a7992b55da9d31",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "3c09e0ee9ba3dbb5",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "26606514fef55773",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "3c09e0ee9ba3dbb5",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "9865d0d9e71c5d7b",
        "type": "ui_spacer",
        "z": "b4adb62fca3ec36b",
        "name": "spacer",
        "group": "3c09e0ee9ba3dbb5",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "5d1764a221015b44",
        "type": "mqtt-broker",
        "name": "Tracker.my",
        "broker": "Tracker.my",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "420b8ce2a1958b91",
        "type": "ui_group",
        "name": " DS18B20",
        "tab": "d7c72690a972f5d7",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc6b4c029fc2d65f",
        "type": "ui_group",
        "name": "                                   DFR0300",
        "tab": "d7c72690a972f5d7",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b8caa81f34ac8890",
        "type": "ui_group",
        "name": "                                        pH",
        "tab": "d7c72690a972f5d7",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "64bd245e2e2a928f",
        "type": "ui_group",
        "name": "DHT22",
        "tab": "f43770f2caf28268",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fed413095bcf78ad",
        "type": "ui_group",
        "name": "DHT22",
        "tab": "f43770f2caf28268",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "356ff7c434b524f6",
        "type": "ui_group",
        "name": "GP2Y1010AU0F",
        "tab": "f43770f2caf28268",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "85867ccc12822d96",
        "type": "ui_group",
        "name": "SGP30",
        "tab": "f43770f2caf28268",
        "order": 5,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c09e0ee9ba3dbb5",
        "type": "ui_group",
        "name": "SGP30",
        "tab": "f43770f2caf28268",
        "order": 6,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7c72690a972f5d7",
        "type": "ui_tab",
        "name": "Water Quality",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f43770f2caf28268",
        "type": "ui_tab",
        "name": "Indoor Air Quality",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
